/* Estilos para o corpo do documento */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Estilos para o cabeçalho */
header {
  background-color: #e60000;
  text-align: center;
  color: white;
  padding: 100px 0;
}

.headline {
  font-size: 36px;
  margin-bottom: 10px;
}

.subheadline {
  font-size: 18px;
  margin-bottom: 40px;
}

/* Estilos para o conteúdo principal */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.product {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-title {
  font-size: 24px;
  margin-top: 10px;
}

/* Estilos para o formulário de contato */
.contact-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label, input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

button {
  background-color: #e60000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

button:hover {
  background-color: #b30000;
}

/* Estilos para o rodapé */
footer {
  background-color: #e60000;
  color: white;
  text-align: center;
  padding: 20px;
}
